@import "tailwindcss";

@theme {
  --color-primary: #ede4ff;
  --color-text: #736677;
  --color-accent: #d97706;
}

@font-face {
  font-family: Excon Bold;
  src: url("./assets/fonts/Excon-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Excon Medium;
  src: url("./assets/fonts/Excon-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Excon Regular;
  src: url("./assets/fonts/Excon-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SaolDisplay-LightItalic";
  src: 
  url("./assets/fonts/Saol-Italic.woff2")format("woff2"),
  url("./assets/fonts/Saol-Italic.woff")format("woff"),

}
:root {
  --primary-font: "Excon Regular";
  --secondary-font: "SaolDisplay-LightItalic";
}
body {
  font-family: "Excon Regular", sans-serif;
}
.cus-container {
  max-width: 1654px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media screen and (max-width: 1700px) {
  .cus-container {
    max-width: 1414px;
  }
}
.font-b {
  font-family: "Excon Bold", sans-serif;
}

.flex-center {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.cursor-hover {
  width: 80px !important;
  height: 80px !important;
  transition: all 2s;
}

.saol-italic {
  font-family: var(--secondary-font);
}