@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@500&family=Noto+Sans+Gujarati:wght@500&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: #ede4ff;
  --color-text: #736677;
}

@font-face {
  font-family: Excon Bold;
  src: url("./assets/fonts/Excon-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Excon Medium;
  src: url("./assets/fonts/Excon-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Excon Regular;
  src: url("./assets/fonts/Excon-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SaolDisplay-LightItalic";
  src: 
  url("./assets/fonts/Saol-Italic.woff2")format("woff2"),
  url("./assets/fonts/Saol-Italic.woff")format("woff"),

}
:root {
  --primary-font: "Excon Regular";
  --secondary-font: "SaolDisplay-LightItalic";
}
body {
  font-family: "Excon Regular", sans-serif;
  scroll-behavior: smooth;
}
.cus-container {
  max-width: 1654px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.blog-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
}
@media screen and (max-width: 1700px) {
  .cus-container {
    max-width: 1414px;
  }
}
.font-b {
  font-family: "Excon Bold", sans-serif;
}

.flex-center {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.cursor-hover {
  width: 80px !important;
  height: 80px !important;
  transition: all 2s;
}

.saol-italic {
  font-family: var(--secondary-font);
}

 .blog-content .heading-0 {
    font-size: 2.25rem !important; /* 36px */
  }

  .cursor-hover-blue {
    background-image: url("./assets/images/cursor-blue.png");
    width: 100px !important;
    height: 100px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    background-color: transparent !important;
    
  }
  .cursor-hover-blue::after {
    content: "Write Me Something Don't Ghost Me";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%) rotate(3deg);
    width: 200px;
    height: max-content;
    background-color: white;
    padding: 10px 20px;
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
   
    .cursor-hover-blue::after {
    content: "Write Me Something Don't Ghost Me";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(3deg);
    width: 200px;
    height: max-content;
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: normal !important;
    padding: 10px;
    font-family: "Excon Regular";
    line-height: normal;
  }
  }